<div class="hidden short-review">
  <div class="product__accordion product__accordion--latest_review accordion _quick-add-hidden">
    <div class="accordion-item accordion-open">
      <div class="accordion-title summary summary__title">
          <div class="accordion__title-wrapper">
            <h2 class="h4 accordion__title inline-richtext">4.98 Star Rating </h2>
            <span></span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M18.75 14.375L10 5.625L1.25 14.375" stroke="#0D0D0D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></path>
          </svg> 
       </div>
      <div class="accordion-body rte" style="display: block;"></div>
    </div>
  </div>
</div>
{% comment %}
<div class="hidden dummy-review">
  <div class="product__accordion product__accordion--latest_review accordion _quick-add-hidden">
    <div class="accordion-item">
      <div class="accordion-title summary summary__title">
          <div class="accordion__title-wrapper">
            <h2 class="h4 accordion__title inline-richtext">4.98 Star Rating </h2>
            <span>Based on 45 Reviews</span>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M18.75 14.375L10 5.625L1.25 14.375" stroke="#0D0D0D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></path>
          </svg> 
       </div>
      <div class="accordion-body rte">
        <div class="review-container">
          <div class="reviews-list">
            <div class="reviews">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                <path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg>
              </span>
            </div>
            <span><svg xmlns="http://www.w3.org/2000/svg" width="2" height="2" viewBox="0 0 2 2" fill="none"><circle cx="1" cy="1" r="1" fill="#0D0D0D"/></circle></svg></span>
            <div class="date-format">2 days ago</div>
          </div>
          <div class="title">Love it</div>
          <p class="desc">Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit!</p>
        </div>
        <div class="review-container">
          <div class="reviews-list">
            <div class="reviews">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none">
                <path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg>
              </span>
            </div>
            <span><svg xmlns="http://www.w3.org/2000/svg" width="2" height="2" viewBox="0 0 2 2" fill="none"><circle cx="1" cy="1" r="1" fill="#0D0D0D"/></circle></svg></span>
            <div class="date-format">a week ago</div>
        </div>
          <div class="title">Best Purchase ever</div>
          <p class="desc">Vorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec.</p>
        </div>
        <a href="/" class="cta-btn show-more">Read All Reviews (27)</a>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    function ALAcheckreview() {
      isALARenderedreview = setInterval(function () {customALAreview()}, 1000);
    }
    function customALAreview() {
      if(document.querySelectorAll(".yotpo-reviews-container").length > 0) {
        clearInterval(isALARenderedreview);
        var review_text = review_text2 = null;
        if(document.querySelector(".yotpo-reviews-container .yotpo-reviews-list")){
          document.querySelectorAll('.yotpo-reviews-list .yotpo-review').forEach((reviews_html,index) => {
            if(index < 2){
                var review_star = '<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></svg>';
                var review_title = reviews_html.querySelector('.yotpo-review-center-panel .yotpo-review-title').innerHTML;
                var review_content = reviews_html.querySelector('.yotpo-review-center-panel .yotpo-review-content .yotpo-read-more-text').innerHTML;
                var review_date = reviews_html.querySelector('.yotpo-review-right-panel .yotpo-review-date .yotpo-date-format').innerText;
                var review_content = reviews_html.querySelector('.yotpo-review-center-panel .yotpo-review-content .yotpo-read-more-text').innerHTML;
                var review_count = document.querySelector('.yotpo-bottom-line-basic-text').innerText;
              console.log(review_count,review_count.split('Based on ')[1],review_count.split('Based on ')[1].split(' reviews'))
                var isHave = review_count.includes("Based on");
                if(isHave){
                  review_count = review_count.split('Based on ')[1].split(' reviews')[0];
                }
                var all_review_btn = '<a href="javascript:void(0);" onclick="scrollReview();" class="cta-btn show-more">Read All Reviews ('+review_count+')</a>'
                var review_html = '<div class="review-container"><div class="reviews-list"><div class="reviews"><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M6.5194 0.67464C6.65795 0.191874 7.34205 0.191876 7.4806 0.674642L8.53809 4.35944C8.60139 4.58 8.8067 4.72917 9.03603 4.72121L12.8673 4.58828C13.3692 4.57086 13.5806 5.22149 13.1643 5.50243L9.98662 7.64683C9.79641 7.77519 9.71799 8.01655 9.79642 8.23219L11.1068 11.8348C11.2784 12.3068 10.725 12.7089 10.3291 12.3998L7.30774 10.0403C7.12689 9.89909 6.87311 9.89909 6.69226 10.0403L3.67086 12.3998C3.27501 12.7089 2.72156 12.3068 2.89323 11.8348L4.20358 8.23219C4.28201 8.01655 4.20359 7.77519 4.01338 7.64683L0.835711 5.50243C0.419387 5.22148 0.630789 4.57086 1.13274 4.58828L4.96397 4.72121C5.1933 4.72917 5.39861 4.58 5.46191 4.35944L6.5194 0.67464Z" fill="#606D22"/></path></svg></span></div><span><svg xmlns="http://www.w3.org/2000/svg" width="2" height="2" viewBox="0 0 2 2" fill="none"><circle cx="1" cy="1" r="1" fill="#0D0D0D"/></circle></svg></span><div class="date-format">'+review_date+'</div></div><div class="title">'+review_title+'</div><p class="desc">'+review_content+'</p>';
                if(index == 1){
                    review_html += all_review_btn;
                    document.querySelector('.short-review .accordion-title .accordion__title-wrapper span').innerText = 'Based on '+review_count+' Reviews';
                    document.querySelector('.short-review .accordion-title .accordion__title-wrapper h2').innerText = document.querySelector('.yotpo-bottom-line-score').innerText + ' Star Rating';
                }
                review_html += '</div>'
                document.querySelector('.short-review .accordion-body').innerHTML += review_html;
            }
            if(index == 1){
              if(document.querySelectorAll('.short-review .accordion-body .review-container').length > 0){
                document.querySelector('.short-review').classList.remove('hidden');
              }
            }
          });

          document.querySelectorAll('.yotpo-reviews-pagination-item').forEach(function(ele){
            ele.addEventListener('click', function(event){
               window.scrollTo({
                top: (document.querySelector('#yotpo-reviews-container').offsetTop - document.querySelector('sticky-header.header-wrapper').clientHeight - 25 ),
                left: 0,
                behavior: "smooth",
              });
            })  
          });
        }
        document.querySelector('body').removeAttribute('yotpo-reviews-count');
      }else{
        document.querySelector('body[yotpo-reviews-count]') == null ? document.querySelector('body').setAttribute('yotpo-reviews-count', 0) : null;
        var count = Number(document.querySelector('body').getAttribute('yotpo-reviews-count'));
        count = count + 1;      
        document.querySelector('body').setAttribute('yotpo-reviews-count', count);
        if( count > 20 ){
          document.querySelector('body').removeAttribute('yotpo-reviews-count');
          clearInterval(isALARenderedreview);
        }
      }
    }
    ALAcheckreview();
  });

  function scrollReview(){
    const element = document.querySelector(".shopify-section .yotpo-widget-instance");
    element.scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"});
  }
</script>